:root {
	--color-ink-bright: hsl(240deg 25% 98%);
	--color-ink-bright-raw: 240deg 25% 98%;
	--color-ink-lighter: hsl(230deg 20% 94%);
	--color-ink-lighter-raw: 230deg 20% 94%;
	--color-ink-light: hsl(231deg 11% 88%);
	--color-ink-light-raw: 231deg 11% 88%;
	--color-ink-base: hsl(228deg 8% 77%);
	--color-ink-base-raw: 228deg 8% 77%;
	--color-ink-dark: hsl(220deg 4% 45%);
	--color-ink-dark-raw: 220deg 4% 45%;
	--color-ink-dim: hsl(210deg 6% 14%);
	--color-ink-dim-raw: 210deg 6% 14%;
	--color-primary-bright: hsl(258deg 100% 97%);
	--color-primary-bright-raw: 258deg 100% 97%;
	--color-primary-light: hsl(252deg 100% 95%);
	--color-primary-light-raw: 252deg 100% 95%;
	--color-primary-base: hsl(245deg 85% 92%);
	--color-primary-base-raw: 245deg 85% 92%;
	--color-primary-dark: hsl(239deg 18% 48%);
	--color-primary-dark-raw: 239deg 18% 48%;
	--color-primary-dim: hsl(231deg 21% 12%);
	--color-primary-dim-raw: 231deg 21% 12%;
	--color-primary-alt-bright: hsl(245deg 100% 97%);
	--color-primary-alt-bright-raw: 245deg 100% 97%;
	--color-primary-alt-light: hsl(235deg 95% 76%);
	--color-primary-alt-light-raw: 235deg 95% 76%;
	--color-primary-alt-base: hsl(228deg 82% 51%);
	--color-primary-alt-base-raw: 228deg 82% 51%;
	--color-primary-alt-dark: hsl(221deg 97% 27%);
	--color-primary-alt-dark-raw: 221deg 97% 27%;
	--color-primary-alt-dim: hsl(213deg 100% 7%);
	--color-primary-alt-dim-raw: 213deg 100% 7%;
}
