---
import RootLayout from '#layouts/RootLayout.astro';
import SceneIntro from '#layouts/scenes/Intro.astro';
import SceneAbout from '#layouts/scenes/About.astro';
import SceneExperience from '#layouts/scenes/Experience.astro';
import SceneWorks from '#layouts/scenes/Works.astro';
---

<RootLayout>
	<main class="main">
		<SceneIntro />
		<SceneAbout />
		<SceneExperience />
		<SceneWorks />
	</main>
</RootLayout>


<style>
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
</style>
