---
import RootLayout from '#layouts/RootLayout.astro';
import SceneIntro from '#layouts/scenes/Intro.astro';
import SceneAbout from '#layouts/scenes/About.astro';
import SceneExperience from '#layouts/scenes/Experience.astro';
import SceneWorks from '#layouts/scenes/Works.astro';
import SceneWorkPimpleSlayer from '#layouts/scenes/Works/PimpleSlayer.astro';
import SceneWorkSnoozeCoffee from '#layouts/scenes/Works/SnoozeCoffee.astro';
import SceneWorkYonaguni from '#layouts/scenes/Works/Yonaguni.astro';
import SceneWorkChaosControl from '#layouts/scenes/Works/ChaosControl.astro';
import SceneWorkFaren from '#layouts/scenes/Works/Faren.astro';
import SceneWorkZolf from '#layouts/scenes/Works/Zolf.astro';
---

<RootLayout>
	<main class="main">
		<SceneIntro />
		<SceneAbout />
		<SceneExperience />
		<SceneWorks />
		<SceneWorkPimpleSlayer />
		<SceneWorkSnoozeCoffee />
		<SceneWorkYonaguni />
		<SceneWorkChaosControl />
		<SceneWorkFaren />
		<SceneWorkZolf />
	</main>
</RootLayout>


<style>
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
</style>
