@import url("./font-loader.css");
@import url("./variables/animation.css");
@import url("./variables/border.css");
@import url("./variables/color.css");
@import url("./variables/pop.css");
@import url("./variables/ring.css");
@import url("./variables/roundness.css");
@import url("./variables/stroke.css");
@import url("./variables/typography.css");
@import url("./variables/z-index.css");
@import url("./variables/aspects.css");
@import url("./variables/media.css");
@import url("./variables/interaction.css");

:root {

}

html {
}

html,
body {
	width: 100%;
	background-color: var(--color-ink-bright);
	overflow-x: hidden;
	font-family: var(--text-font-family-mono);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -0.5px;
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[sr-only] {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

img,
picture,
svg {
	flex-shrink: 0;
}

a:hover,
a:focus {
	text-decoration: underline;
}

strong {
	font-weight: 900;
	color: var(--color-primary-alt-base);
	font-style: italic;
}
