---
import '../assets/styles/global.css';
import IconsSpirit from '#components/IconsSpirit.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>monarts :: Personal Portfolio</title>
	</head>
	<body>
		<slot />
		<IconsSpirit />
	</body>
</html>


<script>
const isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);

if (isChrome) {
	CSS.paintWorklet.addModule(
		`https://www.unpkg.com/css-houdini-squircle/squircle.min.js`
	);
}
</script>
